#toolbar.button-toolbar
  = form.submit 'Save', class: "px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700", disabled: true
  ' 
  = link_to @form.criterion, class: "px-4 py-2 bg-blue-500 text-white rounded" do
    i.icon-remove
    |  Close
