#footer-spacer
#footer
  .container.mx-auto.px-4.py-6
    .grid.grid-cols-1.md:grid-cols-3.gap-4
      .col-span-1
      .col-span-1
        h5.font-bold.text-lg Foreplot
      .col-span-1
        span.copyright © 2020 Foreplot
        br
        br
        div 45832-19278
